body {
  background-color: rgba(187, 101, 189, 0.363);
}
#container {
  border: 1px solid black;
  margin: 10px auto;
  width: fit-content;
  border-radius: 5px;
}
#field {
  border: 1px solid skyblue;
  border-radius: 50px;
  height: 400px;
  width: 700px;
  margin: 10px;
  background-image: url('src/assets/miku.png');
  background-position: center;
  position: relative;
}
#control {
  margin: 10px;
}
#bell {
  border: 1px solid rgb(17, 216, 193);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgb(76, 238, 224);
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
