.my-button {
  background-color: #007bff;
  color: rgb(44, 182, 233);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.my-button:hover {
  background-color: #0056b3;
}









